@inject IStringLocalizer<Resources> localizer
@inherits LayoutComponentBase
@implements IDisposable

<header class="navbar sticky-top bg-body-secondary text-body flex-md-nowrap p-0 shadow">
    <a href="/" class="navbar-brand bg-body-tertiary d-flex align-items-center me-0 px-2 @(_navCollapsed ? "brand--collapsed" : "")">
        <img class="ms-2" width="40" height="32" aria-hidden="true" src="_content/MakerPrompt.Shared/logo.svg" onerror="this.src='_content/MakerPrompt.Shared/favicon.png'" />
        <span class="brand-label">MakerPrompt</span>
    </a>
    <NavConnection />
</header>

<div class="layout-body">
    <NavMenu Collapsed="_navCollapsed" OnToggle="ToggleSidebar" />
    <main class="layout-main h-100">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom px-4">
            <h1 class="h2">@TitleService.CurrentTitle</h1>
        </div>
        <div class="layout-content">
            <div class="layout-page">
                @Body
            </div>
            <div class="layout-right">
                <div class="layout-right-top">
                    <CommandPrompt />
                </div>
                <div class="layout-right-bottom">
                    <GCodeViewer />
                </div>
            </div>
        </div>
    </main>
</div>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.BottomRight" />

@code {
    [Inject]
    private LocalizedTitleService TitleService { get; set; } = null!;

    private bool _navCollapsed = false;

    private void ToggleSidebar() => _navCollapsed = !_navCollapsed;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        TitleService.OnTitleChanged += HandleTitleChanged;
    }

    private void HandleTitleChanged()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        TitleService.OnTitleChanged -= HandleTitleChanged;
    }
}
