<nav class="navbar navbar-expand px-2">
    <div class="container-fluid">
        <div class="me-2">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <CultureSelector />
                    <ThemeSelector />
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/akinbender/MakerPrompt" target="_blank" rel="noopener noreferrer" title="GitHub">
                            <i class="bi bi-github"></i>
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

