@page "/files"
<LocalizedTitle TitleKey="Files" />

@inject PrinterStorageProvider PrinterStorage
@inject IAppLocalStorageProvider AppStorage

<div class="row">
    <div class="col-lg-6 col-md-12">
        <StorageExplorer Title="Printer storage" Provider="PrinterStorage" TargetProvider="AppStorage" EnableUpload="false" EnableDelete="true" EnableOpen="true" EnableCopy="true" />
    </div>
    <div class="col-lg-6 col-md-12">
        <StorageExplorer Title="App storage" Provider="AppStorage" TargetProvider="PrinterStorage" EnableUpload="true" EnableDelete="true" EnableOpen="true" EnableCopy="true" />
    </div>
</div>
